.tile{
    transition: transform .2s;
    cursor: pointer;
}
.tile:hover{
    transform: scale(1.05); 
}
.name{
    cursor: pointer;
}
.imgContainer{
    position: relative;
}
.iconContainer{
    position: absolute;
    top: 0;
    right: 0;
}
.red-star {
    --sds-c-icon-color-foreground-default: rgb(230, 0, 0);
}
.standardPrice{
    text-decoration: line-through;
}
.discount{
    color: rgb(230, 0, 0);
}