.THIS .imageBox{
    height: 187.5px;
    width: 150px;
}
.THIS .imgContainer:hover{
    opacity: 0.9;
}
.THIS .imgContainer{
    height: 197.5px;
    width: 150px;
    position: relative;
}

.THIS .imgContainer .delete-button{
    transition: transform .2s;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    right: 0;
}

.THIS .delete-button:hover {
    transform: scale(1.4); 
}
.THIS .selected {
    border: thick double #32a1ce;
}