.cartBox{
    border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(230, 0, 0);
    padding: 11px 10px;
    cursor: pointer;
    position: relative;
}
.cartIcon {
    --sds-c-icon-color-foreground-default: white;
    padding-right: 2px;
}
